body {
    background-color: cornflowerblue;
}

.container2 {
    background: rgb(17, 34, 5);
    padding-left: 15px;
    height: 50px;
    text-align: center;
}

td {
    padding-top: 20px;
}

.navstyle {
    text-decoration: none;
    color: lightgrey;
    padding-left: 100px;
}

#logoutstyle {
    margin-left: 500px;
    text-decoration: none;
    color: lightcoral;
}

.imagestyle {
    width: 55px;
    border-radius: 50%;
}

#D_container1 {
    background-color: blue;
    height: 90px;
    width: 340px;
    text-align: center;
    color: white;
    border-radius: 15px;
    padding-top: 15px;

}
a:active{
color: rgb(37, 52, 219);
}