body {
    background-color: cornflowerblue;
}

.container1 {
    background-color: darkgray;
    width: 1162px;
    margin: 0 auto;
    height: 270px;
    margin-top: 130px;
    margin-bottom: 15px;
    padding-top: 35px;
}

.heading {
    margin-left: 48px;
}

.details {
    font-family: inherit;
    font-size: 25px;
}

.container2 {
    display: inline-flex;
    margin: 0 auto;
    margin-left: 283px;
}

.container3 {
    width: 543px;
    text-align: initial;
    padding-left: 30px;
    border: none;
    background-color: seagreen;
    border-radius: 7px;
    margin-right: 15px;
    height: 155px;
}

.container4 {
    padding-left: 30px;
    background-color: beige;
    width: 543px;
    border-radius: 5px;
    background-color: antiquewhite;
}
a:active{
    color: rgb(37, 52, 219);
}
.buttonstyle1 {
    border: 2px solid;
    color: white;
    background: transparent;
    height: 40px;
    width: 110px;
    border-radius: 10px;
}

.buttonstyle2 {
    height: 40px;
    width: 105px;
    border-radius: 8px;
    background: transparent;
}

.buttonstyle3 {
    height: 40px;
    width: 105px;
    background: transparent;
    border-radius: 8px;
    color: blueviolet;
    border: 2px solid;

}

.buttonstyle3:hover {
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonstyle2:hover {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonstyle1:hover {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}